.form-container {
    justify-content: center;
    align-items: center;
    display: flex;

}

.formTitle {
    font-size: 30px;
    margin-bottom: 2rem;
}

.form-content {

}

.inputs {
    margin-top: .5rem;
}

form {
    margin-top: 1rem;
    padding: 20px;
    min-height: 100%;
    max-height: 100%;
    border-radius: 25px;
    min-width: 90%;
    max-width: 100%;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

input {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 200px;
    height: 30px;
}

.searchMovie {
    min-width: 10rem;
    min-height: 2rem;
    margin-left: 0rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.results {
    font-size: .7rem;
}

.movieOutput {
    max-width: 14rem;
}

.movieGrid {
    margin: auto;
    max-height: 40%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 1em;
}

hr {
    margin-bottom: 3rem;
}