.navbar-container {
    width: 100%;
    max-height: 5.5rem;
    background-color: black
}

.navbar-content div {
    display: inline;
}

.navbar-content {
    width: 100%;
    display: inline-block;
}

.logo {
    float: left;
    margin-top: -13px;
}

.appTitle {

    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    text-align: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-right: 4rem;

}

.loginButton {
    font-weight: bold;
    margin-right: 2rem;
    margin-top: 2.5rem;
    float: right;
}